@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    /* Colors: */
    --unnamed-color-ff7c7c: #FF7C7C;
    --unnamed-color-ff4a4a: #FF4A4A;
    --unnamed-color-ffe933: #FFE933;
    --unnamed-color-fcf5bb: #FCF5BB;
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-222222: #222222;
    --unnamed-color-f7dd0a: #F7DD0A;
    }

.bg-default{
    background: #222222;
}
#destination_1{
    background-image: url(images/kar-ming-moo-Q_3WmguWgYg-unsplash.jpg);
    box-shadow: inset 0px -25px 50px 0px #000000;
}
#destination_2{
    background-image: url(images/kevin-mueller-aeNg4YA41P8-unsplash.jpg);
    box-shadow: inset 0px -25px 50px 0px #000000;

}
#destination_3{
    background-image: url(images/laura-college-K_Na5gCmh38-unsplash.jpg);
    box-shadow: inset 0px -25px 50px 0px #000000;

}
#destination_4{
    background-image: url(images/philipp-pilz-iQRKBNKyRpo-unsplash.jpg);
    box-shadow: inset 0px -25px 50px 0px #000000;

}
#destination_5{
    background-image: url(images/ray-hennessy-xUUZcpQlqpM-unsplash.jpg);
    box-shadow: inset 0px -25px 50px 0px #000000;

}
#destination_6{
    background-image: url(images/wexor-tmg-L-2p8fapOA8-unsplash.jpg);
    box-shadow: inset 0px -25px 50px 0px #000000;
}
