@tailwind base;
@tailwind components;
@tailwind utilities;


.overflow-y-scroll::-webkit-scrollbar {
    width: 5px;
    }
.overflow-x-scroll::-webkit-scrollbar{
    height: 5px;
}
    
.overflow-y-scroll::-webkit-scrollbar-track,.overflow-x-scroll::-webkit-scrollbar-track {
    background: transparent; 
    }
    
.overflow-y-scroll::-webkit-scrollbar-thumb,.overflow-x-scroll::-webkit-scrollbar-thumb {
    background: #F7DD0A; 
    }
    
.overflow-y-scroll::-webkit-scrollbar-thumb:hover,.overflow-x-scroll::-webkit-scrollbar-thumb:hover {
    background: #555; 
    }


#destination_1{
    background-image: url(images/kar-ming-moo-Q_3WmguWgYg-unsplash.jpg);
    box-shadow: inset 0px -25px 50px 0px #000000;
}
#destination_2{
    background-image: url(images/kevin-mueller-aeNg4YA41P8-unsplash.jpg);
    box-shadow: inset 0px -25px 50px 0px #000000;

}
#destination_3{
    background-image: url(images/laura-college-K_Na5gCmh38-unsplash.jpg);
    box-shadow: inset 0px -25px 50px 0px #000000;

}
#destination_4{
    background-image: url(images/philipp-pilz-iQRKBNKyRpo-unsplash.jpg);
    box-shadow: inset 0px -25px 50px 0px #000000;

}
#destination_5{
    background-image: url(images/ray-hennessy-xUUZcpQlqpM-unsplash.jpg);
    box-shadow: inset 0px -25px 50px 0px #000000;

}
#destination_6{
    background-image: url(images/wexor-tmg-L-2p8fapOA8-unsplash.jpg);
    box-shadow: inset 0px -25px 50px 0px #000000;
}
.mbbg{
    background-image: url(images/philipp-pilz-iQRKBNKyRpo-unsplash.jpg);
}

#small:checked ~ .small{
    background-color: yellow;
    color: brown;
}
#large:checked ~ .large{
    background-color: yellow;
    color: brown;
}
#cooperate:checked ~ .cooperate{
    background-color: yellow;
    color: brown;
}





